.navbar {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  /* padding: 10px; */
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.navbar i {
  color: #000;
  font-size: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 18px;
  background: none;
}

.nav-menu {
  position: fixed;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  left: -100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  width: 250px;
  padding: 20px;
  transition: 850ms;
}

.active {
  left: 0;
  transition: 350ms;
}

.nav-menu .nav-menu-items {
  list-style: none;
  width: 100%;
}

.nav-menu .nav-menu-items li {
  padding: 10px;
  transition: 400ms;
  border-radius: 10px;
  margin-bottom: 13px;
  width: 100%;
}

.nav-menu .nav-menu-items li a {
  color: #37474f;
  text-decoration: none;
  transition: 400ms;
  height: 100%;
}

.nav-menu .nav-menu-items li:hover > a {
  color: white;
}

.nav-menu .nav-menu-items li:hover {
  background: #bd00ff;
  box-shadow: 0px 7px 50px -7px #bd00ff;
}

.upper-section {
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
  margin-left: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(205, 205, 205);
}

.lower-section {
  margin-top: 10px;
  padding: 30px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(205, 205, 205);
}

.lower-section form .edit-btn {
  background-color: #bd00ff;
  color: #fff;
  font-family: "Poppins", cursive;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0px 7px 30px -7px #bd00ff;
  transition: 0.2s;
}

.lower-section form .cancle-btn {
  background-color: #ff2525;
  color: #fff;
  font-family: "Poppins", cursive;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0px 7px 30px -7px #ff2525;
  transition: 0.2s;
  margin-left: 30px;
}
.lower-section form .cancle-btn:hover {
  box-shadow: 0px 7px 40px -2px #ff2525;
}

.lower-section form .edit-btn:hover {
  box-shadow: 0px 7px 40px -2px #bd00ff;
}
.lower-section form {
  width: 100%;
}

.lower-section form .input-group {
  display: flex;
}
.lower-section form .address {
  width: 100%;
}

.lower-section form input {
  border: none;
  outline: none;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #bd00ff;
  width: 500px;
  font-size: 13px;
}

.lower-section form .input-box span {
  font-size: 13px;
  margin-left: 20px;
  font-weight: bold;
}

.lower-section form .input-box {
  display: flex;
  flex-direction: column;
}

.lower-section form textarea {
  border: none;
  outline: none;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #bd00ff;
}
